<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Success Authentication
  body
    h1 Success Authentication
    p Now you can close this popup :)