<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Something Happened
  body
    h1 Something Happened!
    p Close this popup and try again.
    p=error
    p=stacktrace